<h1><%= character.title %></h1>
<p>Movie Release Date: <%= character.movieReleaseDate %></p>
<p><img src=<%= character.image %> alt="<%= character.title %>"></p>
<a href=<%= character.link %> target="_blank">Movie link</a>
<p><%= character.description %></p>
