<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %> <!-- Render the navigation links -->

  <h1>Marvel Mania!</h1>
  <p>These are three of my favorite Marvel characters!</p>

  <!-- Display each character's name -->
  <% Object.keys(characters).forEach(function (id) { %>
    <div class="character">
      <p><%= characters[id].title %></p>
      <p><img src=<%= characters[id].image %> alt="<%= characters[id].title %>"></p>
    </div>
  <% }) %>
</body>

</html> <!-- Closes the opening html tag rendered by partials/head.ejs -->
